@use "global" as *;

.p-news__list {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-news__item + .p-news__item {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(25);
  }
}

.p-news__btn {
  text-align: center;
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(45);
  }
}